@keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

/*Vertical Sliding*/
.slidingVertical {
  display: inline;
  text-indent: 8px;
}

.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0.5s;
  color: #0096D6;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.foods1 span {
  animation: topToBottom 12.5s linear infinite 0.5s;
  animation-delay: 4s;
  color: #0096D6;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}




.foods2 span {
  animation: topToBottom 12.5s linear infinite 0.5s;
  animation-delay: 8s;
  color: #0096D6;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.foods3 span {
  animation: topToBottom 12.5s linear infinite 0.5s;
  animation-delay: 12s;
  color: #0096D6;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.foods4 span {
  animation: topToBottom 12.5s linear infinite 0.5s;
  animation-delay: 16s;
  color: #0096D6;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}